/* Mobile first*/
/*Css para la seccion nav*/

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f4f6fc;
  margin: 0 auto;
}
nav {
  display: flex;
  margin-left: 30px;
  margin-top: 30px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
  display: flex;
  justify-content: space-between;
  width: 60.53px;
  height: 18.46px;
}
.nav-menu {
  display: flex;
}
nav ul {
  display: flex;
  flex-direction: column;
}
nav ul li {
  display: none;
}
nav ul li a {
  font-weight: 500;
  text-decoration: none;
  color: #6b708d;
}
nav ul li a:hover {
  color: rgb(0, 157, 255);
}
.contact-btn {
  display: none;
}
.menu-btn {
  border: none;
}

/*Sección hero*/
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.empower {
  width: 100%;
  flex-direction: column;
}
h1 {
  width: 100%;
  font-weight: 700;
  font-size: 37px;
  line-height: 50px;
  text-align: center;
  align-items: center;
  color: #292e47;
}
#hero p {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6b708d;
}
.hero-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}
.touch-btn {
  display: flex;
  background-color: #072ac8;
  font-size: 17px;
  color: white;
  align-items: center;
  width: 150px;
  height: 52px;
  font-weight: 500;
  justify-content: center;
  border: none;
  margin-bottom: 20px;
}
.see-link {
  text-decoration: none;
  color: #6b708d;
}
.hero-img {
  display: flex;
  justify-content: center;
}
.smiling-guy {
  width: 80%;
  margin-top: 25px;
}
.thumb {
  width: 50%;
  display: none;
}
.credit-card {
  width: 50%;
  display: none;
}

/*Seccion clients*/

#clients {
  display: flex;
  margin-top: 40px;
  margin-bottom: 25px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.air-logo {
  width: 50%;
  margin-left: 30px;
  margin-bottom: 50px;
}
.google-logo {
  width: 50%;
  margin-left: 30px;
  margin-bottom: 50px;
}
.micro-logo {
  width: 50%;
  margin-left: 30px;
  margin-bottom: 50px;
}
.fed-logo {
  width: 50%;
  margin-left: 7px;
  margin-bottom: 50px;
}
.ama-logo {
  display: none;
}
/*Seccion projects*/

#projects {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

#projects h3 {
  color: #292e47;
  font-size: 50px;
}

#projects p {
  color: #292e47;
  font-weight: 500;
  text-align: start;
  font-size: 24px;
  font-weight: 500;
  margin-top: 30px;
  margin-left: 30px;
}
#projects h4 {
  margin-left: 30px;
  color: #6b708d;
  font-weight: 400;
  font-size: 14px;
}
#projects a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #072ac8;
  margin-left: 30px;
  bottom: 10px;
}

.first-square {
  background-color: white;
  width: 340px;
  height: 444px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.first-square img {
  width: 340px;
  height: 242px;
  display: flex;
}

.second-square {
  background-color: white;
  width: 340px;
  height: 444px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.second-square img {
  width: 340px;
  height: 242px;
  display: flex;
  flex-direction: column;
}
.third-square {
  background-color: white;
  width: 340px;
  height: 444px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.third-square img {
  width: 340px;
  height: 242px;
  display: flex;
}

/*Sección Media Query desktop*/
@media (min-width: 770px) {
  .main {
    width: 1100px;
    margin: 0 auto;
  }
  nav {
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
  }
  nav img {
  }
  nav ul {
    flex-direction: row;
  }
  nav ul li {
    display: flex;
    list-style-type: none;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px;
  }
  .current {
    color: rgb(61, 135, 235);
  }
  .navbar {
    justify-content: space-between;
    align-items: center;
  }
  .nav-btn {
    display: flex;
  }
  .contact-btn {
    position: relative;
    display: flex;
    background-color: #072ac8;
    font-size: 17px;
    color: white;
    align-items: center;
    width: 150px;
    height: 52px;
    font-weight: 500;
    justify-content: center;
    border: none;
  }
  .contact-btn:hover {
    background-color: #292e47;
  }
  .menu-btn {
    display: none;
  }
  /*Hero section*/
  p {
    font-size: 20px;
    line-height: 150%;
    color: #6b708d;
  }
  #hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    width: 1100px;
    height: 650px;
  }
  .empower {
    display: flex;
  }
  h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    text-align: left;
  }
  p {
    font-size: 20px;
    line-height: 150%;
    text-align: none;
    width: 100%;
  }
  .container {
    display: flex;
    flex-direction: column;
    width: 530px;
    height: 439px;
  }
  .hero-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .touch-btn {
    margin-right: 20px;
    align-items: center;
  }
  .see-link {
    display: flex;
    align-content: center;
    text-align: center;
  }
  .hero-img {
    display: flex;
    width: 570px;
    height: 650px;
    position: relative;
  }
  .smiling-guy {
    width: 570px;
    height: 637px;
  }
  .credit-card {
    display: block;
    position: absolute;
    width: 260px;
    height: 263px;
    top: 0;
    left: 0;
  }
  .thumb {
    display: block;
    position: absolute;
    width: 260px;
    height: 263px;
    right: 0;
    bottom: -100px;
  }
  /*Seccion clients*/

  #clients {
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 100px;
  }
  .air-logo {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 50px;
  }
  .google-logo {
    width: 80%;
    margin-left: 30px;
    margin-bottom: 50px;
  }
  .micro-logo {
    width: 80%;
    margin-left: 30px;
    margin-bottom: 50px;
  }
  .fed-logo {
    width: 80%;
    margin-left: 30px;
    margin-bottom: 50px;
  }
  .ama-logo {
    display: block;
    margin-left: 30px;
    margin-bottom: 50px;
  }
  /*Seccion projects*/
  #projects {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  .recent h3 {
    width: 285px;
    height: 94px;
    font-size: 40px;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  #projects a {
    font-size: 17px;
  }
  #projects h4 {
    font-size: 17px;
  }
  .first-square {
    margin-right: 40px;
  }
  .second-square {
    margin-right: 40px;
  }
  .third-square {
  }
}
